body {
    font-family: sans-serif;
    background-color: #f8f9fa;
}

.card-header {
    font-weight: bold;
}

.guest-card {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
}

.guest-info {
    margin-bottom: 5px;
}